
html,body{

font-family:arial ;
margin: 0;
background-color:#ffe066;
}
header{
	background-color: #ffcc00;
	padding: 40px;
	text-align:center;
	margin-bottom: 30px;
	/*border-radius: 50px;*/
}
h1{
	-webkit-text-stroke: 2px black;
	font-size: 80px;
	color:white;


}
header img {
	border-radius: 154px;
	border: 20px solid white;

}
 
.content{
	max-width: 900px;
	margin: 0 auto;
	background-color:  #ffeb99;
	border-radius: 20px;
		padding: 20px;
}
img.bigimage{
	max-width: 100%;

}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
p.caption{
	font-style: 15px;
	color: grey;
	font-style:italic;
}
a{
	color:  	#3399ff;
	font-style: none;
}
footer ul li{
		
		display: inline-block;


}
footer ul{
	text-align: center;
}
footer{
	margin-top: 30px;
	padding: 40px 20px; 
	background-color:  #ffcc00;
}